.table > tbody > tr.container_row > td {
  vertical-align: middle;
}

#console-tab {
  background-color: #374E64;
  .nav-tabs {
    border-width: 0px;
    > li {
      margin-bottom: 0px;
    }
    li {
      a:focus, a:hover {
        background-color: transparent;
        border-color: transparent;
        color: #18bc9c;
      }
      a {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: #eee;
      }
      a.active:focus, a.active:hover, a.active {
        background-color: #2c3e50;
        border-color: #2c3e50;
        color: #fff;
      }
    }
  }
}

dl.dl-horizontal > dd {
  margin-top: 4px;
  margin-bottom: 8px;
}

#config_ios {
  display: none;
}

#credentialform {
  margin-bottom: 22px;
}

#tab-statuses {
  .card-group {
    .card-header h4 {
      margin-bottom: 0;
      display: inline;
      font-size: 18px;
    }
    .card-header {
      position: relative;
      a {
        display: flex;
        text-decoration: none;
        color: inherit;
      }
    }
    .card-body {
      .dropdown {
        display: inline;
      }
      .dropdown + button.btn {
        margin-left: 8px;
      }
    }
    .card {
      margin-bottom: 15px;
    }
  }
}

#tab-configure {
  h3 + div {
    margin-bottom: 36px;
  }
  table.keys {
    button.btn + button.btn {
      margin-left: 8px;
    }
    tr td {
      vertical-align: middle;
    }
    tr td:last-of-type {
      text-align: right;
    }
  }
}

