#ish {
  background-color: #000;
}

.ish-resize {
  cursor: ns-resize;
  height: 5px;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.ish-bar {
  &, div {
    height: 23px;
  }
  #ish-title {
    float: left;
    color: #fff;
    margin: 2px 4px;
    font-size: 14px;
  }
  #ish-buttons {
    float: right;
    button {
      font-size: 14px;
      background: transparent;
      border: 0;
      color: #fff;
      margin: 2px;
    }
  }
}

.flexbox iframe {
  border: 0;
  width: 100%;
  height: calc(100% - 28px);
}

.btn.btn-primary.ish-button {
  margin: 0px 15px;
  padding: 4px 12px;
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0;
  color: #888;
  font-size: 14px;
  & i.fa {
    height: 20px;
    width: 30px;
    font-size: 1.2rem;
    color: #fff;
    margin: 5px 0px;
  }
}
