#ish {
  background-color: #000;
}

.ish-resize {
  cursor: ns-resize;
  height: 5px;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.ish-bar {
  &, div {
    height: 23px;
  }
  #ish-title {
    float: left;
    color: #fff;
    margin: 2px 4px;
    font-size: 14px;
  }
  #ish-buttons {
    float: right;
    button {
      font-size: 14px;
      background: transparent;
      border: 0;
      color: #fff;
      margin: 2px;
    }
  }
}

.flexbox iframe {
  border: 0;
  width: 100%;
  height: calc(100% - 28px);
}

#ish-button {
  height: 34px;
  margin: 23px 15px;
  padding: 6px 13px;
  position: relative;
  border: solid 1px #1a252f;
  box-shadow: 0 0;
  color: #888;
  font-size: 14px;
  &.visible-xs {
    float: right;
  }
  &.hidden-xs {
    float: left;
    margin-right: 0px;
  }
}
