body {
  display: block;
}

.navbar {
  box-shadow: 0 0 5px 1px rgba(32, 45, 59, 0.5);
  border: 0;
  .profile-image{
    margin: -12px 0px;
  }
  .profile-image-xs{
    margin: 0px 8px 0px 0px;
  }
  .navbar-text.visible-xs{
    margin-bottom: 0px;
    margin-top: 20px;
  }
}

.nav-tabs li {
  &.active, & {
    a, a:hover, a:focus {
      border: 0;
      margin: 0;
    }
  }
  &.active a:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #cc7a6f;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 767px){
  .nav.navbar-nav{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.label, .btn.btn-danger, .btn.btn-primary {
  box-shadow: inset 0 -1.5px 0 rgba(0,0,0,0.18);
}

.btn.btn-danger, .btn.btn-primary {
  border-width: 0px;
  padding: 7px 13px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #ecf0f1;
  .container .text-muted {
    margin: 18px 0;
    text-align: center;
  }
}

i.fa {
  width: 16px;
}

.container h2:nth-of-type(1) {
  margin-top: 0px;
}

.tab-pane h2 ~ form {
  margin-bottom: 24px;
}

.form-control.readonly-dropdown-input {
  background-color: #fff;
}

.loading {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.button-mobile-primary-action{
  border-radius: 25px;
  box-shadow: 0px 4px 25px -4px #242b23;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 40px;
  z-index: 9999;
}

div.container > div.row:last-child {
  margin-bottom: 24px;
}

#app > div.flexbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  & > div.flex-main {
    overflow: auto;
    height: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;

    & > div#main {
      min-height: calc(100% - 60px - 104px);
    }
    & > header.has-tabbar ~ div#main {
      min-height: calc(100% - 60px - 148px);
    }
  }
}

// import sub-styles
@import 'console', 'dropzone', 'login', 'logstream', 'opensans', 'terminal', 'ish'
