.xterm-theme-default {
  background: #000;
}
#terminal {
  font-size: 13px;
  margin-bottom: 24px;
  position: relative;
  height: 640px;

  .external-button {
    position: absolute;
    z-index: 9999;
    right: 0;
    font-size: 18px;
    color: #bbb;
    background: transparent;
    border: transparent;
    margin: 8px;
    opacity: 0.7;
  }

  &.popup {
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }

  .xterm-viewport {
    background-color: transparent;
  }

  .xterm-viewport {
    width: 18px;
    overflow-x: hidden;
    margin-left: auto;
  }

  .xterm {
    z-index: 1;
  }

  .xterm-rows {
    z-index: -1;
  }

  &.chrome {
    .xterm-viewport {
      width: 8px;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(0,74,99,0.7);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(0,74,99,0.7);
    }
  }
}
