.xterm-theme-default {
  background: #000;
}
#terminal-host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#terminal-buttons {
  margin: 5px 0;
  & button {
    border: white 2px solid;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 2px 10px;
    margin-right: 10px;
    &.active {
      background: #fff;
      color: #000;
    }
  }
}
#terminal {
  font-size: 13px;
  margin-bottom: 24px;
  position: relative;
  height: 640px;

  .external-button {
    position: absolute;
    z-index: 9999;
    right: 0;
    font-size: 18px;
    color: #bbb;
    background: transparent;
    border: transparent;
    margin: 8px;
    opacity: 0.7;
  }

  .popup & {
    margin: 0;
    height: 100vh;
  }

  .xterm-viewport {
    background-color: transparent;
    width: 18px;
    overflow-x: hidden;
    margin-left: auto;
  }

  textarea.xterm-helper-textarea {
    font-size: 16px;
  }

  .xterm {
    z-index: 1;
  }

  .xterm-rows {
    z-index: -1;
  }

  .chrome & {
    overflow: hidden;

    .xterm-viewport {
      width: 8px;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(0,74,99,0.7);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(0,74,99,0.7);
    }
  }
  .copy-buffer {
    border: 0;
    float: left;
    pointer-events: none;
    opacity: 0;
  }
}
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}
