node_modules
minamo-server/data/userdb.json
minamo-server/data/sessions/*
minamo-server/data/avatar/*
minamo-server/data/fido2/*
minamo-server/data/repos/*
minamo-server/data/repos/*/
minamo-server/public/**
