node_modules
minamo-server/data/gitusers.json
minamo-server/data/sessions/*
minamo-server/repos/*
minamo-server/repos/*/
minamo-server/public/components
minamo-server/public/css/**
minamo-server/public/js/**
