#login-container {
  max-width: 624px;
  margin: 0 auto 20px;
}

.login-form {
  margin: 0px 12px;
}

@media screen and (min-width:992px){
  .form-col {
    border-left: 1px solid #ecf0f1;
  }
}
@media screen and (max-width:991px){
  .form-col {
    padding-top: 20px;
  }
}

.btn {
  i.fa {
    width: 16px;
    + span {
      margin: 0px 0px 0px 8px;
    }
  }
}

.form-group.vertical-grouped {
  .input-group {
    .input-group-addon:first-child, .form-control:last-child {
      border-bottom-width: 0;
      border-radius: 0;
    }
  }
  .input-group:first-child {
    .input-group-addon:first-child {
      border-top-left-radius: 2px;
    }
    .form-control:last-child {
      border-top-right-radius: 2px;
    }
  }
  .input-group:last-child {
    .input-group-addon:first-child {
      border-bottom-left-radius: 2px;
      border-bottom-width: 1px;
    }
    .form-control:last-child {
      border-bottom-right-radius: 2px;
      border-bottom-width: 1px;
    }
  }
}
