.navbar {
  .profile-image{
    margin: -12px 0px;
  }
  .profile-image-xs{
    margin: 0px 8px 0px 0px;
  }
  .navbar-text.visible-xs{
    margin-bottom: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px){
  .nav.navbar-nav{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.label, .btn.btn-danger, .btn.btn-primary {
  box-shadow: inset 0 -1.5px 0 rgba(0,0,0,0.18);
}

.btn.btn-danger, .btn.btn-primary {
  border-width: 0px;
  padding: 7px 13px;
}

html {
  position: relative;
  min-height: 100%;
}

html body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 60px;
  background-color: #ecf0f1;
  .container .text-muted {
    margin: 20px 0;
    text-align: center;
  }
}

i.fa {
  width: 16px;
}

.container h2:nth-of-type(1) {
  margin-top: 0px;
}
