{
  "plugins": [
    "system-import-transformer",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node",
  ],
  "presets": ["@babel/env","@babel/react"]
}
