'use strict';

const path = require('path');

module.exports = {
  proto: 'http',
  domain: 'example.com',
  repo_path: process.env.MINAMO_REPOS_PATH || path.join(__dirname, 'data/repos'),
  http_port: 3000,
  git_port: 7000,
  redis_port: 16379,
  data_dir: path.join(__dirname, 'data'),
  userdb: path.join(__dirname, 'data', 'userdb.json'),
  secret: '<secret here>',
  title: 'minamo.cloud',

  // GitHub appid
  GITHUB_CLIENT_ID: process.env.GITHUB_CLIENT_ID || '',
  GITHUB_CLIENT_SECRET: process.env.GITHUB_CLIENT_SECRET || '',
};
