.navbar .profile-image{
  margin: -12px 0px;
}

.navbar .profile-image-xs{
  margin: 0px 8px 0px 0px;
}

#credentialform {
  margin-bottom: 22px;
}

#message {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#inner-message {
  margin: 10px auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ecf0f1;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container .text-muted {
  margin: 20px 0;
  text-align: center;
}
