.navbar .profile-image{
  margin: -12px 0px;
}

.navbar .profile-image-xs{
  margin: 0px 8px 0px 0px;
}

.navbar .navbar-text.visible-xs{
  margin-bottom: 0px;
  margin-top: 20px;
}

@media screen and (max-width: 767px){
  .nav.navbar-nav{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#credentialform {
  margin-bottom: 22px;
}

.label, .btn.btn-danger, .btn.btn-primary {
  box-shadow: inset 0 -1.5px 0 rgba(0,0,0,0.18);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ecf0f1;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container .text-muted {
  margin: 20px 0;
  text-align: center;
}
