version: 2
jobs:
  build:
    working_directory: ~/minamo-server
    docker:
      - image: circleci/node:9.11
    steps:
      - checkout
      - restore_cache:
        key: dependency-cache-{{ checksum "package.json" }}
      - run:
        name: Install packages
        command: npm install
      - save_cache:
        key: dependency-cache-{{ checksum "package.json" }}
        paths:
          - node_modules
      - run:
        name: Copy default config
        command: cp config.js.sample config.js
      - run:
        name: Run build
        command: npm run build
  test:
    working_directory: ~/minamo-server
    docker:
      - image: circleci/node:9.11
    steps:
      - run:
        name: Run test
        command: npm run eslint
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
