extends ../_base

block vars
  - var pageTitle = 'log stream'

block links
  link(rel='prerender', href='/console')

block scripts
  script(src='/js/loader/logstream.loader.js', defer)

block header-nav
  li: a(href='/console') console
  li.active: a(href='/console/logstream') log stream
  li: a(href='/console/terminal') terminal

block content
  h2 Log Stream
  #log
