extends ../_base

block vars
  - var pageTitle = 'terminal'

block links
  link(rel='prerender', href='/console')

block scripts
  script(src='/js/loader/terminal.loader.js', defer)

block header-nav
  li: a(href='/console') console
  li: a(href='/console/logstream') log stream
  li.active: a(href='/console/terminal') terminal

block content
  .row#content-header
    .col-xs-11: h2 Terminal
    .col-xs-1
      button#open_popup: i.glyphicon.glyphicon-new-window
  #terminal
