extends _base

block vars
  - var pageTitle = 'console'

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.3/react-bootstrap.min.js')
  script(src='/api/config.js')
  script(src='/js/console.js')

block styles
  link(rel='stylesheet', href='/components/openwebicons/css/openwebicons.min.css')
  link(rel='stylesheet', href='/css/console.css')

block header-nav
  li: a.active(href='/console') console
  li: a(href='/logstream') log stream

block content
  h2 Container status
  #statuses

  h2 Create containers
  form#newform(name='new_container')
    #service_name_group.form-group.has-feedback
      label(for='service_name') Name
      input#service_name.form-control(type='text', name='service')
      span#service_name_glyph.glyphicon.form-control-feedback
      span#errmsg.help-block.text-danger
    #template_group.form-group
      label(for='template') Template
      select#template.form-control(name='template')
        option(value='') Blank
        option(value='simple-webapi') SimpleWebAPI
        option(value='express-pug') ExpressPug
    #external_repo_group.form-group
      label(for='external_repo') External Repository (optional)
      input#external_repo.form-control(type='text', name='external')
    input.btn.btn-primary(type='submit', value='create')

  h2 Configure credentials
  form#credentialform(name='credential_configure')
    #username_group.form-group
      label(for='username') Git Username
      input#username.form-control(type='text', name='password', disabled='disabled', value=profile.username)
    #password_group.form-group
      label(for='password') Git Password
      input#password.form-control(type='text', name='password')
    input.btn.btn-primary(type='submit', value='update')

  #envconfig_frame.modal.fade(role='dialog')
    .modal-dialog: .modal-content
      .modal-header
        h4 Env config
      .modal-body
        form
          input#target_service(type='hidden', name='service')
          table#envlist.table.table-hover
            thead: tr
              th name
              th value
            tr
              td: input.form-control
              td: input.form-control
              td: button.btn.btn-danger.form-control
                span.glyphicon.glyphicon-trash
            tr
              td(colspan=3): button.btn.btn-default.form-control add new
      .modal-footer
        button#env_save.btn.btn-primary(data-dismiss='modal') save
        button.btn.btn-default(data-dismiss='modal') cancel

  #logs_frame.modal.fade(role='dialog')
    .modal-dialog: .modal-content
      .modal-header: h4 Logs
      .modal-body
        textarea#logs.form-control(rows='15', readonly)
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') close 

  script(src='/babel/console.js', type='text/babel')

block outer_content
  #message
    #message-container.container
