extends _base

block vars
  - var pageTitle = 'console'

block scripts
  script(src='/js/dom.js')
  script(src='/js/console.js')

block header-nav
  li: a.active(href='/console') console

block content
  h2 Container status
  #statuses.hidden-xs
  #statuses_xs.visible-xs

  h2 Create containers
  form#newform(name='new_container')
    #service_name_group.form-group.has-feedback
      label(for='service_name') Name
      input#service_name.form-control(type='text', name='service')
      span#service_name_glyph.glyphicon.form-control-feedback
      span#errmsg.help-block.text-danger
      label(for='template') Template
      select#template.form-control(name='template')
        option Blank
        option(value='simple-webapi') SimpleWebAPI
    input.btn.btn-primary(type='submit', value='create')

  h2 Configure credentials
  form#credentialform(name='credential_configure')
    #username_group.form-group
      label(for='username') Git Username
      input#username.form-control(type='text', name='password', disabled='disabled', value=profile.username)
    #password_group.form-group
      label(for='password') Git Password
      input#password.form-control(type='text', name='password')
    input.btn.btn-primary(type='submit', value='update')

block outer_content
  #message
    #message-container.container
