extends _base

block links
  if profile
    link(rel='prerender', href='/console/')
  else
    link(rel='prerender', href='/login')

block content
  .jumbotron
    h1 minamo.io
    p private PaaS platform for you
    if profile
      p: a.btn.btn-primary.btn-lg(href='/console/', role='button') console
    else
      p: a.btn.btn-primary.btn-lg(href='/login', role='button') login
