doctype html
html
 head
  script(src='/api/config.js')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
 body
  #app !{markup}
  script !{appProps || ''}
  script(src='/bundle.js')
