extends _base

block vars
  - var pageTitle = 'login'

block content
  h2 choose account provider
  ul
    li: a(href='/auth/twitter') twitter
    li: a(href='/auth/github') github
    li: a(href='/loginform') local
