extends _base

block vars
  - var pageTitle = 'login'

block content
  h2 login
  form(method='post', action='/auth/local')
    #username_group.form-group
      label(for='username') Username
      input#username.form-control(type='text', name='username')
    #password_group.form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password')
    input.btn.btn-primary(type='submit', value='login')
