extends _base

block styles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/login.css')

block vars
  - var pageTitle = 'login'

block content
  .row: .center-block#login-container: .panel.panel-primary.login-form
    .panel-heading: h3.panel-title Sign In
    .panel-body: .row
      .col-md-6
        h4 social accounts
        a.btn.btn-large.btn-block.btn-primary(href='/auth/twitter')
          i.fa.fa-twitter
          span Login with Twitter
        a.btn.btn-large.btn-block.btn-primary(href='/auth/github')
          i.fa.fa-github
          span Login with GitHub
      .col-md-6.form-col
        h4.header minamo id
        form(method='post',action='/auth/local')
          .form-group.vertical-grouped
            .input-group
              span.input-group-addon#username_addon: i.fa.fa-user
              input.form-control.input-block-level(placeholder='Username', aria-describedby='username_addon')
            .input-group
              span.input-group-addon#password_addon: i.fa.fa-key
              input.form-control.input-block-level(placeholder='Password', aria-describedby='password_addon')
          .form-group
            input.btn.btn-large.btn-primary.btn-block(type='submit',value='Sign In')
